:root{
    --color-button:#ff7c11;
    --color-button-hover:#ff3c00;
    --color-primary:#ff4800;
    --color-card:  rgb(252, 217, 195);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 40px;
    height: 40px;
}

.page-title{
    font-size: 20px;
    color: #cbd5e1;
}

/*tienda*/
#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}

.card-producto{
    width: 250px;
    text-align: center;
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s ease;
    padding: 15px;
}

.card-producto:hover{
    transform: translateY(-5px);
}

.card-producto img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
}

.card-producto button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-button);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

/*carrito*/
#contenedor-carrito{
    display: flex;
    text-align: center;
    align-content: space-around;
    gap: 25px;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;
}

.card-carrito{
    width: 260px;
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.card-carrito:hover{
    transform: translateY(-5px);
}

.card-carrito img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.card-producto button:hover{
    background-color: var(--color-button-hover);
}

.acciones-carrito{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-sumar,
.btn-restar,
.btn-eliminar{
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    
}

.btn-eliminar{
    background-color: red;
    color: white;
}

.resumen-carrito{
    width: 300px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#btn-finalizar{
    background-color: rgb(255, 238, 219);
    color: black;
    border: solid black 1px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#btn-finalizar:hover{
    background-color: rgb(3, 105, 3);
    color: white;
}

#btn-vaciar{
    background-color: rgb(255, 238, 219);
    color: black;
    border: solid black 1px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#btn-vaciar:hover{
    background-color: rgb(201, 6, 6);
    color: white;
}

#total{
    background-color: #e76b06;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    margin: 30px auto;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(33, 124, 243, 0.2);
}

/*botones*/
.tienda_button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-button);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.5s;
}

.tienda_button:hover{
    background-color: var(--color-button-hover);
}

.cliente_button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-button);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 1.0s;
}

.cliente_button:hover{
    background-color: var(--color-button-hover);
}

#logoutButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #006eff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 1.0s;
    border: none;
    cursor: pointer;
}

#logoutButton:hover{
    background-color: #5398ff;
}

.carrito_button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-button);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: 1.0s;
}

.carrito_button:hover{
    background-color: var(--color-button-hover);
}